<!DOCTYPE html>
<html lang="ro">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{{ url_for('static', filename='img/favico.ico') }}">

    <title>{% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/jumbotron.css') }}" rel="stylesheet">

    {% block extracss %}{% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#182740;">
		<a class="navbar-brand" href="/">
			<img src="{{ url_for('static', filename='img/icon.png') }}" width="40" height="35" alt="Icon">
		</a>
		<a class="navbar-brand" href="/">Acasă</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('beginner') }}">Începător</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('intermediate') }}">Intermediar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('advanced') }}">Avansat</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				{% if utilizator %}
				<li class="nav-item dropdown show">
					<a class="nav-link dropdown-toggle" id="userdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Contul tău</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userdropdown">
						<a class="dropdown-item" id="nume">{{ utilizator }}</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" id="ascore">Scor: {{ userdata[0] }}</a>
						<a class="dropdown-item" id="arank">Rang: {{ userdata[1] }}</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
					</div>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('log_page') }}">Login</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>