{% extends 'base.html' %}

{% block title %}Nivel începător{% endblock %}<

{% block extracss %}
	<link href="{{ url_for('static', filename='css/beginner.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main role="main">

		<div class="jumbotron" style="padding: 30px;">
			<div class="container">
				<h4>Nivel începător</h4>
				<p>Trageți blocuri și creați un program după problemele de mai jos.</p>
				<div id="carouselProbleme" class="carousel slide" data-interval="false">
					<div class="carousel-inner">
						{% for problema in probleme %}
							{% if loop.index == 1 %}
							<div class="carousel-item active">
								<div class="d-block btw"><p>{{ problema }}</p></div>
							</div>
							{% else %}
							<div class="carousel-item">
								<div class="d-block btw"><p>{{ problema }}</p></div>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					<a class="carousel-control-prev" id="pv" href="#carouselProbleme" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Înapoi</span>
					</a>
					<a class="carousel-control-next" id="nx" href="#carouselProbleme" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Mai departe</span>
					</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div  class="col-md-6">
					<label>Sursă</label>
					<div id="blockly-area">
						<div id="blockly-div" style="position: relative;"></div>
						<!-- toolboxul va fi inserat dinamic din fisierul specific -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Rezultat</label>
						<select name="rezultatsel" id="rezultatsel" class="custom-select" onchange="myUpdateFunction()">
							<option value="py" selected="selected">Python</option>
							<option value="js">JavaScript</option>
						</select>
						<textarea class="form-control" id="arearezultat" disabled="disabled" spellcheck="false"></textarea>
					</div>
				</div>
			</div>
		</div>

	</main>
{% endblock %}


{% block footer %}
	<footer>
		<hr/>
		<p>&copy; Dobrincu Octavian - 2020</p>
	</footer>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='blockly/blockly_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='blockly/blocks_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='blockly/msg/js/ro.js') }}"></script>
	<script src="{{ url_for('static', filename='js/beginner.js') }}"></script>
	<script src="{{ url_for('static', filename='blockly/python_compressed.js') }}"></script>
	<script src="{{ url_for('static', filename='blockly/javascript_compressed.js') }}"></script>
{% endblock %}