{% extends 'base.html' %}

{% block title %}Blockly test{% endblock %}<

{% block extracss %}
	<link href="{{ url_for('static', filename='css/test.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron" style="padding: 30px;">
			<div class="container">
				<h4>Pagină de test pentru blockly</h4>
				<p>Trageți blocuri și creați un program</p>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div  class="col-md-6">
					<label>Sursă</label>
					<div id="blockly-area">
						<div id="blockly-div" style="position: relative;"></div>
						<!-- toolboxul va fi inserat dinamic din fisierul specific -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Rezultat</label>
						<select name="rezultatsel" id="rezultatsel" class="custom-select" onchange="get_rezultate(this)">
						</select>
						<textarea class="form-control" id="arearezultat" disabled="disabled"></textarea>
					</div>
				</div>
			</div>
		</div> <!-- /container -->

	</main>
{% endblock %}


{% block footer %}
	<footer class="container">
		<p>Dobrincu Octavian - 2020</p>
	</footer>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='blockly/blockly_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='blockly/blocks_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='blockly/msg/js/ro.js') }}"></script>
	<script src="{{ url_for('static', filename='js/test.js') }}"></script>
	<script src="{{ url_for('static', filename='blockly/python_compressed.js') }}"></script>
{% endblock %}