{% extends 'base.html' %}

{% block title %}Acasă{% endblock %}<

{% block extracss %}
	<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main role="main">
		<div class="jumbotron" style="padding: 30px;">
			<div class="container">
				<h3>Bun venit!</h3>
				<p>Învață principii de programare sau îmbunătățeștele prin unul din cele trei niveluri existente!</p>
			</div>
		</div>
		{% if error %}
		<div class="text-center">
			<div class="alert alert-dismissible in text-center" role="alert">
				{{ error }}
			</div>
	  	</div>
		{% endif %}
		<div class="container align-items-center">
			<div class="media position-relative">
				<a href="{{ url_for('beginner') }}"><img src="{{url_for('static', filename='img/beginner.png')}}" class="mr-3 myimage" alt="Nivel începător"></a>
			  	<div class="media-body myimgbody">
					<a href="{{ url_for('beginner') }}" class="mygoto"><h5 class="mt-0">Nivelul începător</h5></a>
					<p>Nivelul începător se adresează persoanelor care au avut un contact minim cu principii de programare până în prezent. Mediul oferit este unul în care vă puteți modela propriile programe prin combinarea a diferite blocuri logice.</p>
			  	</div>
			</div>
			<div class="media position-relative">
				<a href="{{ url_for('intermediate') }}"><img src="{{url_for('static', filename='img/intermediate.png')}}" class="mr-3 myimage" alt="Nivel începător"></a>
			  	<div class="media-body myimgbody">
					<a href="{{ url_for('intermediate') }}" class="mygoto"><h5 class="mt-0">Nivelul intermediar</h5></a>
					<p>Pentru cei care au avut un contact cu princiipile de programare dar nu știu cum să învețe un limbaj de programare, nivelul intermediar vine în ajutorul lor cu un mediu ce le permite să învețe cum se pot crea mici programe folosind unealta simplă numită pseudocod.</p>
			  	</div>
			</div>
			<div class="media position-relative">
				<a href="{{ url_for('advanced') }}"><img src="{{url_for('static', filename='img/advanced.png')}}" class="mr-3 myimage" alt="Nivel începător"></a>
			  	<div class="media-body myimgbody">
					<a href="{{ url_for('advanced') }}" class="mygoto"><h5 class="mt-0">Nivelul avansat</h5></a>
					<p>Dacă ești un individ destul de încrezător în abilitățile tale de programare, nivelul avansat este potrivit pentru tine. Aici poți învăța cum îți poți transpune cunoștințele într-un limbaj de programare în noi cunoștințe.</p>
			  	</div>
			</div>
		</div>
	</main>
{% endblock %}


{% block footer %}
	<footer>
		<hr/>
		<p>&copy; Dobrincu Octavian - 2020</p>
	</footer>
{% endblock %}
