{% extends 'base.html' %}

{% block title %}{{ titlu }}{% endblock %}<

{% block extracss %}
	<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main role="main">
		<div class="jumbotron" style="padding: 30px;">
			<div class="container">
				<h4>{{ titlu }}</h4>
				<p>Intrați în contul dumneavoastră sau creați unul nou.</p>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 brdr">
					<h4 class="infotop">Intră în contul tău de utilizator</h4>
					<div class="form-group">
						<label for="username">Numele de utilizator:</label>
						<input type="text" class="form-control" id="username" aria-describedby="tip" placeholder="Numele de utilizator">
					</div>
					<div class="form-group">
						<label for="parola">Parola:</label>
						<input type="password" class="form-control" id="parola" placeholder="Parola">
					</div>
					<div class="justify-content-center btn-log-wrap accz">
						<div class="h-100 w-100">
							<button class="btn btn-primary btn-log" id="login" onclick="log()">Accesează</button>
						</div>
					</div>
				</div>
				<div class="col-md-6 brdl">
					<h4 class="infotop">Înregistrează un cont nou</h4>
					<div class="form-group">
						<label for="signusername">Numele de utilizator:</label>
						<input type="text" class="form-control" id="signusername" aria-describedby="tip" placeholder="Numele de utilizator">
					</div>
					<div class="form-group">
						<label for="signparola">Parola:</label>
						<input type="password" class="form-control" id="signparola" placeholder="Parola" oninput="checkPassword()">
					</div>
					<div class="form-group">
						<label for="confirmare">Confirmați parola introdusă:</label>
						<input type="password" class="form-control" id="confirmare" placeholder="Confirmare parolă" oninput="checkPassword()">
						<small id="confirmtip" class="form-text text-muted">Parolele nu se potrivesc!</small>
					</div>
                    <div class="justify-content-center btn-log-wrap">
						<div class="h-100 w-100">
							<button class="btn btn-primary btn-log" id="signin" onclick="sign()" disabled="disabled">Înregistrează</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>
{% endblock %}


{% block footer %}
	<footer>
		<hr/>
		<p>&copy; Dobrincu Octavian - 2020</p>
	</footer>
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}