{% extends 'base.html' %}

{% block title %}{{ titlu }}{% endblock %}<

{% block extracss %}
	<link href="{{ url_for('static', filename='css/translate.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	<main role="main">
		<div id="overlay" class="justify-content-center align-items-center">
			<div class="spinner-border" role="status" id="spinner">
			</div>
		</div>
		<div class="jumbotron" style="padding: 30px;">
			<div class="container">
				<h4>{{ titlu }}</h4>
				<p>Testați-vă cunoștințele rezolvând problemele de mai jos.</p>
				<div id="carouselProbleme" class="carousel slide" data-interval="false">
					<div class="carousel-inner">
						{% for problema in probleme %}
							{% if loop.index == 1 %}
							<div class="carousel-item active" data-prid="{{ ids[loop.index0] }}">
								<div class="d-block btw"><p>{{ problema }}</p></div>
							</div>
							{% else %}
							<div class="carousel-item" data-prid="{{ ids[loop.index0] }}">
								<div class="d-block btw"><p>{{ problema }}</p></div>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					<a class="carousel-control-prev" id="pv" href="#carouselProbleme" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Înapoi</span>
					</a>
					<a class="carousel-control-next" id="nx" href="#carouselProbleme" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Mai departe</span>
					</a>
				</div>
			</div>
		</div>
		<div class="modal fade" tabindex="-1" role="dialog" id="variableModal">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Configurare variabile pseudocod</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<br/>
					</div>
					<div class="modal-body">
						<p>Alegeți numele și tipurile variabilelor folosite în programul dumneavoastră</p>
						<button type="button" class="btn btn-primary" id="addvar" onclick="adauga_variabila()">Adaugă o variabilă</button>
						<div id="variabile">

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Închide</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="form-group">
						<label>Sursă</label>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#variableModal" style="display:none" id="butonModal">
  							Configurare variabile
						</button>
					  	<p style="font-weight: bold;" id="sursasel">{{surse}}</p>
						<textarea class="form-control" id="areasursa" spellcheck="false"></textarea>
					</div>
					<div class="justify-content-end btn-compute">
						<div class="h-100 w-100">
							<button class="btn btn-primary" id="compute" onclick="translateInput()">Traducere</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Rezultat</label>
						<p style="font-weight: bold;" id="rezultatsel">{{rezultate}}</p>
						<textarea class="form-control" id="arearezultat" disabled="disabled" spellcheck="false"></textarea>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="form-group">
						<label>Log</label>
						<textarea class="form-control" id="arealog" disabled="disabled" spellcheck="false"></textarea>
					</div>
				</div>
			</div>
		</div>

	</main>
{% endblock %}


{% block footer %}
	<footer>
		<hr/>
		<p>&copy; Dobrincu Octavian - 2020</p>
	</footer>
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/first.js') }}"></script>
{% endblock %}