.myimage{
    width: 200px;
    height: 200px;
}

.myimgbody{
    margin-top: 50px;
}

.mygoto{
    text-decoration: none;
    color: #182740;
}

.mygoto:hover{
    text-decoration: none;
    color: #798aa6;
}

.alert{
    color: red;
}