.btn-log-wrap{
    position: relative;
}

.btn-log{
    position: relative;
    background-color: #182740;
    border: 1px solid #182740;
}

.btn-log:hover{
    background-color: #20304a;
    border: 1px solid #20304a;
}

.btn-log:disabled{
    background-color: #202325;
    border: 1px solid #202325;
}

.brdr
{
    border-right: 1px solid #182740;
    padding: 20px;
}

.brdl
{
    border-left: 1px solid #182740;
    padding: 20px;
}

.infotop{
    margin-bottom: 20px;
}

.accz{
    margin-top: 102px;
}

#confirmtip{
    display: none;
    color: red !important;
}