#blockly-area {
    position: relative;
    width: 100%;
    height: 60vh;
}

#blockly-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#arearezultat {
    margin-top: 10px;

}