#areasursa, #arearezultat{
    resize: none;
    margin-top: 10px;
    overflow: visible;
    height: 200px;
}

#compute{
    position: relative;
    top: 50%;
    left: calc(100% - 95px);
    background-color: #182740;
    border: 1px solid #182740;
}

.btn-container{
    display: inline-block;
}

.data-area{
    position: relative;
    width: 47.5%;
}

.btn-compute{
    position: relative;
}

#butonModal{
    margin-bottom: 10px;
    background-color: #182740;
    border: 1px solid #182740;
}

#addvar{
    background-color: #182740;
    border: 1px solid #182740;
}

.grupuri{
    margin-top: 10px;
}

.modal-dialog{
    max-width: fit-content;
}

#arealog{
    resize: none;
    height: 20vh;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(255,255,255,.5);
    z-index: 2;
}

#spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
}

.mynames{
    min-width: 200px;
    max-width: 200px;
}

.mytypes{
    min-width: 200px;
    max-width: 200px;
}

.mykinds{
    min-width: 200px;
}

